@model DropDownsVM
@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">DropDowns Anidados con .NET 8</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="row">
    <div class="col-4">
        <label for="sucursalDropdown">Sucursal:</label>
        <select id="sucursalDropdown" class="form-control">
            <option value="">Seleccione  una sucursal</option>
            @foreach (var sucursal in Model.Sucursales)
            {
                <option value="@sucursal.Id">@sucursal.Nombre</option>
            }
            
        </select>
    </div>
    <div class="col-4">
        <label for="categoriaDropdown">Categoria:</label>
        <select id="categoriaDropdown" class="form-control" disabled >
            <option value="">Seleccione  una categoria</option>
        </select>
    </div>

    <div class="col-4">
        <label for="productoDropdown">Producto:</label>
        <select id="productoDropdown" class="form-control" disabled>
            <option value="">Seleccione  una producto</option>
        </select>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/Validaciones.js"></script>

